.form {
    &-text {
        display: block;
        margin-top: .3rem;
        color: #888;
    }

    &-group {
        margin: 1rem;

        input {
            width: 80%;
            padding: .5rem;
            display: block;
            font-size: 1.2rem;
            border: 1px solid #ccc;
        }
    }
}


.btn {
    @include set-background($primary-color);
    padding: .4rem;
    text-align: center;
    border: none;
    padding: .5rem;
    transition: all .7s ease-in-out;
    cursor: pointer;
    margin-right: 1rem;
    width: 20% !important;

    &-primary {
        &:hover {
            background-color: lighten($primary-color, 50%);
        }
    }

    &-light {
        &:hover {
            background-color: lighten($dark-color, 50%);
            color: black
        }
    }


}