@import "config";
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid $success-color;
    opacity: 0.9;

    ul {
        display: flex;
        align-items: center;

        a {
            color: white;
            padding: 0.1rem;
            margin: 0.5rem;

            &:hover {
                color: red;
            }
        }
    }
}

.landing {
    height: 100vh;
    position: relative;
    background: url('https://images.pexels.com/photos/3071758/pexels-photo-3071758.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center / cover;


    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);

    }

    .landing-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100vh;
        width: 60%;
        margin: auto;
    }

    .buttons {
        margin: 1rem;

        .btn {
            @include set-background($primary-color);
            padding: .4rem;
            text-align: center;
            border: none;
            padding: .5rem;
            transition: all .7s ease-in-out;
            cursor: pointer;
            margin-right: 1rem;

            &-primary {
                &:hover {
                    background-color: lighten($primary-color, 50%);
                }
            }

            &-light {
                &:hover {
                    background-color: lighten($dark-color, 50%);
                    color: black
                }
            }


        }


    }





}